
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_indexLayout.cshtml";
}

<div class="single-product-area section-padding-100 clearfix">

    <div class="container-fluid">

        

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0" style="        background-image: url(/assest/img/can-img/kinhcan1.jpg);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1" style="        background-image: url(/assest/img/can-img/kinhcan2.jpg);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="2" style="        background-image: url('/assest/img/can-img/kinhcan3.jpg');">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="3" style="        background-image: url(/assest/img/can-img/kinhcan4.jpg);">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="~/assest/img/can-img/kinhcan1.jpg">
                                    <img class="d-block w-100" src="~/assest/img/can-img/kinhcan1.jpg" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="~/assest/img/can-img/kinhcan2.jpg">
                                    <img class="d-block w-100" src="~/assest/img/can-img/kinhcan2.jpg" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="~/assest/img/can-img/kinhcan3.jpg">
                                    <img class="d-block w-100" src="~/assest/img/can-img/kinhcan3.jpg" alt="Third slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="~/assest/img/can-img/kinhcan4.jpg">
                                    <img class="d-block w-100" src="~/assest/img/can-img/kinhcan4.jpg" alt="Fourth slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">1750000</p>
                        <a href="product-details.html">
                            <h6>Minuet - Rose Gold</h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <a href="#">Write A Review</a>
                            </div>
                        </div>
                        <!-- Avaiable -->
                        <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                    </div>

                    <div class="short_overview my-5">
                        <p>Đóng vai trò như một chương chính trong bản Sonata, Minuet đồng thời còn là một điệu nhảy vui tươi có nguồn gốc từ nước Pháp. Lấy tinh thần lạc quan, sống động và vượt qua khuôn khổ ấy làm cảm hứng, dòng kính Minuet trong BST lần này được chế tác hoàn toàn từ Stainless Steel và sử dụng 3 màu chủ đạo: Rose Gold, Dark Matte, Light Silver. Ưu điểm của kính Stainless Steel ngoài việc giá thành vừa phải còn là sự bền dẻo, chống chịu nhiệt, oxy hoá,...</p>
                    </div>

                    <!-- Add to Cart Form -->
                    <form class="cart clearfix" method="post">
                        <div class="cart-btn d-flex mb-50">
                            <p>Qty</p>
                            <div class="quantity">
                                <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <button type="submit" name="addtocart" value="5" class="btn amado-btn">Thêm vào giỏ hàng</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
