
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_indexLayout.cshtml";
}


<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row" style="justify-content: center;">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title" >
                        <h1>Thanh toán thành công</h1>
                    </div>

                  
                </div>
            </div>

        </div>
        <div class="row"style="justify-content: center;">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h3>Xin chân thành cảm ơn quý khách</h3>
                    </div>


                </div>
            </div>
    </div>
        </div>
</div>